:root{
    --color1: #D89584;
    --color2: #F4F4F4;
}

body{
    margin: 0;
    font-family: Arial;
}
div.cover{
    background: url(cover_overlay.png) no-repeat center/100% 100%,url(cover.jpg) no-repeat center/cover;
    height: 360px;
    position:relative;
}
img.cover_profile{
    height:126px;
    position: relative;
    left: 50%;
    margin-left: -73px;
    margin-top: 50px;
}
h1{
    color:white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
div.cover_contact{
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover_contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover_contact p:first-child{
    margin-bottom: 14px;
}

div.cover_contact * {
    color:white;
    font-size: 14px;
    text-decoration: none;
}

a.contact_button{
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: #00000040;
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
}

a.contact_button:hover{
    color:white;
    border: 3px solid white;
}

div.section-grise-1{
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);
    height: 200px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.section-grise-2{
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    height: 200px;
    padding-top: 30px;
    padding-bottom: 80px;
}

h2{
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}

div.separateur{
    height:1px;
    width: 150px;
    background-color: #979797;
    margin-left: auto;
    margin-right: auto;
}

div.section-grise-1 p{
    text-align: center;
    font-size: 22px;
    color: #656565;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5;
}